body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

header {
    background: linear-gradient(to bottom, #424244, #000000);
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 0px 2px #003cff;
    text-shadow: 0px 0px 5px #07448a;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.xd {
    background: linear-gradient(to bottom, #424244, #000000);
    padding: 1em;
}

.xdx {
    background: linear-gradient(to bottom, #424244, #000000);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: #202020;
    color: #f0f0f0;
    border-radius: 15px;
}

h1 {
    font-size: 38px;
}

.con {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: #071a27;
    color: #f8f1f1;
    font-size: 14px;
    border-radius: 15px;
}

.boton {
    background: linear-gradient(to bottom, #424244, #000000);
    color: #ffffff;
    border: none;
    padding: 5px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 15px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #003cff;
}